div#wrap
	div#header
		h1#title #{title}
		
						
		if(typeof errormsg != 'undefined')
			p #{errormsg}
		#urlform			
			form(name='urlform', action='/simplify', method='post')
				input(type='text', id='url', size='60', name='url', placeholder='url')
				input(type="submit", id='submit', value="Render", data-transition='fade')		
	
	hr
	
	div#render
		if(typeof article != 'undefined')
		
	
			article
				!{article}
		
				

	