doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://code.jquery.com/jquery-latest.js")
		script(src="/javascripts/script.js")
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
		script(type='text/javascript')
				
			function render(){
				alert("oh");
				if (typeof article != 'undefined') {
					alert("hele");
					};

	body!= body
